<p id="notice"><%= notice %></p>

<h1>Triggers</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Add to Account</th>
    </tr>
  </thead>

  <tbody>
    <% @triggers.each do |trigger| %>
      <tr>
        <td><%= trigger.name %></td>
        <td><%= trigger.description %></td>
        <td>Check</td>
        <!-- <td><%= trigger.json %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>