<footer class="navbar-fixed-bottom">
<div class="container">  <small>
    Brought to you by #NailedIt
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul> </nav></div>

</footer>

<!-- <div id="footer" class="navbar-fixed-bottom">
      <div class="container">
        <p class="muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
      </div>
    </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        &copy; 2015 Trammp
                    </div>
                </div>
            </div>
        </footer> -->